body {
    text-align: center;
}

table {
    margin: 0px auto;
}

.table-bordered {
   border-color: purple;
   border-spacing: 10px;
   
}

.product {
    width: 250px;
}

#noError {
    font-size: 30pt;
}