body {
    padding-left: 20px;
    padding-right: 20px;
    background-color: black;
    color: white;
}
#image_logo {
    padding: 25px;
    display: flex;
    justify-content: center;
}

h3 {
    text-align: center;
}

.variables {
    width: 50%;
}

a {
    text-decoration: none;
}

nav {
    border-color: blue;
    text-align: center;
    text-decoration: none;
    font-size: 18pt;
}

.a-nav-style {
    padding: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
    color: #fd9426
}

#activePage {
    border-bottom: 2px solid #fd9426;
}
table {
    background-color: #fd9426;
    text-align: center;
}

tr {
    background-color: white;
}

th {
    text-align: center;
}

td {
    padding: 7px;
    background-color: white;
}

footer {
    text-align: center;
}

aside {
    display: flex;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
}

p {
    padding-left: 20px;
    padding-right: 20px;
}

#variable-text-left {
    padding-right: 30px;
    padding-left: 0px;
}

#variable-text-right {
    padding-left: 0px;
}